<h1>Find All the Celebrities Listed Here!</h1>

{{#each celebrities}}
  <ul>
    <li><b>{{name}}</b> - <a href="/celebrities/{{_id}}">See more details</a>
    </li>
    </br>
    <form action="/celebrities/{{_id}}/delete" method="POST">
       <button type="submit">Delete now</button>
    </form>
    </br>
    <form action="/celebrities/{{_id}}/edit" method="GET">
       <button type="submit">Edit details</button>
    </form>
  </ul>
{{/each}}

<h2>Did you miss a Celebrity in our list?</h2>
<p>Add easily the celebrity or celebrities that you want <b><a href="/celebrities/new">here</a></b></p>