<h1>Add a New Celebrity</h1>
<p>Fill in the fields of the form below to add a new celebrity:</p>

<form action="/celebrities" method="post">
  <label for="new-celebrity-name">Celebrity's Name:</label>
  <input type="text" name="name" id="new-celebrity-name">

  <label for="new-celebrity-occupation">Occupation:</label>
  <input type="text" name="occupation" id="new-celebrity-occupation">

  <label for="new-celebrity-catchPhrase">Catch Phrase:</label>
  <input type="text" name="catchPhrase" id="new-celebrity-catchPhrase">

  <button type="submit">Add to the List!</button>
</form>