<h1>Find All the Movies Listed Here!</h1>

{{#each movies}}
  <ul>
    <li><b>{{title}}</b> - <a href="/movies/{{_id}}">See more details</a>
    </li>
    <br>
    <form action="/movies/{{_id}}/delete" method="post">
      <button type="submit">Delete</button>
    </form>
  </ul>
{{/each}}

<h2>Did you miss a Movie in our list?</h2>
<p>Add easily a movie or movies that you want <b><a href="movies/new">here</a></b></p>