<h1>Add a New Movie</h1>
<p>Fill in the fields of the form below to add a new movie:</p>

<form action="/movies" method="post">
  <label for="new-movie-title">Movie's Title:</label>
  <input type="text" name="title" id="new-movie-name">

  <label for="new-movie-genre">Genre:</label>
  <input type="text" name="genre" id="new-movie-genre">

  <label for="new-movie-plot">Plot:</label>
  <input type="text" name="plot" id="new-movie-plot">

  <button type="submit">Add to the List!</button>
</form>